---
export const prerender = true;
import Layout from "~/layouts/Layout.astro";

// в Layout можно дабавить indexSite={false} чтобы не индексировать страницу
// Для постов - typeSite="article" | по умолчанию typeSite="website"
const { pubDate, page } = Astro.props;

import { getCollection } from "astro:content";
import Article from "~/components/Article.astro";
import Pagination from "~/components/Pagination.astro";
import Search from "~/components/Search";
import FinalTitle from "~/components/UI/FinalTitle.astro";
import Months from "~/components/UI/Months.astro";
import Moths12 from "~/components/UI/Moths12.astro";
import Nav from "~/components/UI/Nav.astro";
import { REFLECTIONS_NAMES } from "~/scripts/params";

// настроить переменные
const { reflection = REFLECTIONS_NAMES.an.path, pathSlug = "/reflections/an/" } =
 Astro.props;
const finalTitle = REFLECTIONS_NAMES.an.name + " - " + REFLECTIONS_NAMES.moth[12];
const finalDesc = REFLECTIONS_NAMES.an.desc;

const forSearch = await getCollection(reflection);
export async function getStaticPaths({ paginate }) {
 const allPosts = await getCollection("an");
 const sortPost = allPosts
  .filter((a) => a.data.moth === "dekabr")
  .sort((a, b) => a.data.id.length - b.data.id.length);
 return paginate(sortPost, {
  pageSize: 9,
 });
}
---

<Layout title={finalTitle} desc={finalDesc} poster="" pubDate={pubDate}>
 <div class="myContainer">
  <Nav />
  <div class="mt-4 mb-10 md:my-10 flex gap-5 flex-wrap items-center justify-between">
   <FinalTitle title={finalTitle} />
   <Moths12 />
  </div>
  <Months pathName="an" />
  <div>
   <Search client:load toLink={pathSlug} searchList={forSearch} />
  </div>
  <div class="my-5 grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
   {
    page.data.map(async (post) => (
     <Article title={post.data.title} desc={post.data.desc} {pathSlug} slug={post.slug} />
    ))
   }
  </div>
  <Pagination
   prevUrl={page.url.prev}
   current={page.currentPage}
   nextUrl={page.url.next}
  />
 </div>
</Layout>
